{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="{% static "base.css" %}">
    <title>FirstPass</title>
  </head>

  <body>
    <!--Navbar-->
    <nav>
      <div class="newpasswordbox">
        <div class="welcome_login_logout">
          {% if user.is_authenticated %}
          <a class="welcome">Welcome, {{user.username}}</a>
          <a class="logout" href="/logout"><button>Logout</button></a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div>{% block content %} {% endblock content %}</div>
  </body>
</html>
