

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>FirstPass</title>

</head>

<body>
<!--Navbar-->
<nav>
    <a>Navbar</a>
    <div>
    <ul>
        {% if user.is_authenticated %}
        
        <li>
        <a href="/logout">Logout</a>
        </li>
        <li>
        <a>Welcome, {{user.username}}</a>
        </li>
        {% else %}
        <li>
        <a href="/login">Login</a>
        </li>
        {% endif %}
        </ul>
    </div>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>

<footer class=>
    <div>
        {% if user.is_authenticated %}
            <p>welcome {{user.username}}</p>
        {% endif %}
    </div>
</footer>
</body>
</html>

</code></pre>
