{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="{% static "base.css" %}">
<title>FirstPass</title>

</head>

<body>
<!--Navbar-->
<nav>
    
    <div class="newpasswordbox"></div>
    <div>
    <ul>
        {% if user.is_authenticated %}
        
        <li>
        <a class="welcome">Welcome, {{user.username}}</a>
        </li>
        <li>
            <a class="logout" href="/logout">Logout</a>
            </li>
        {% else %}
        <li>
        <a href="/login">Login</a>
        </li>
        {% endif %}
        </ul>
    </div>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>

<footer class=>
    <div class="newpassword">
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ obj.passwords_name }}
                <button type='submit'>Submit</button>
            </form>
            <a href="/get_data/"><button> View Passwords </button></a>
        {% endif %}
    </div>
</footer>
</body>
</html>

</code></pre>
