{% extends 'base.html' %} {% block content %}

<div class="data_assignment">
  <table class="password_table">
    <thead class="scroll-thead">
    <tr>
      <th>Name's</th>
      <th>Passwords's</th>
    </tr>
  </thead>
  <tbody class="scroll-tbody-y table-body">
    {% for x in my_lists %}
    <tr>
      <td>{{ x.passwords_name }}</td>
      <td>{{ x.password_obj }}</td>
      <td>
        <a href="delete/{{ x.id }}/"><button>delete</button></a>
      </td>
    </tr>
    {% endfor %}
  </thead>
  </table>
</div>
<div class="add_password_btn">
  <a href="/"><button>Add Password</button></a>
</div>
{% endblock content %}
