body{
    background-color: #3c3c3c;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    width: fit-content;
}
h1{
    color: white
}
p{
    color: white
}
/* Login Css*/
/*Keycodebox*/
.log{
    height: 65%;
    width: 26%;
    background-color: #3D3C3C;
    top: 20%;
    left: 35%;
    position: absolute;
}
.logbox{
    position: absolute;
    background-color: #2a2a2a;
    height:62%;
    width: 36%;;
    left: 33%;
    top: 12%;
}

.login{
    top: 19%;
    left: 45%;
    position: absolute;
    width: 15%;
    color: white
}

.login_btn_location {
    margin-top: 10px;
}

/*register css*/
.registerbox{
    position: absolute;
    background-color: #2a2a2a;
    height:65%;
    width: 56%;;
    left: 26%;
    top: 11%;
}
.register{
    top: 13%;
    left: 28%;
    position: absolute;
    height: 65%;
    width: 53%;
}
.welcome{
    position: absolute;
    width: 70%;
    left: 28%;
    top: 14%;
    font-size: x-large;
    color: white;
}
.submit{
    top: 30%;
    left: 41%;
    position: absolute;
    height: 65%;
    width: 53%;
    color: white;
}
.logout{
    top: 91%;
    left: 3%;
    position: absolute;
}


/* for the add passwords page*/
.newpassword{
    top: 30%;
    left: 44%;
    position: absolute;
    width: 18%;
    color: white;
}

/* for the get data page */
.data_assignment {
    top: 23%;
    left: 34.7%;
    position: absolute;
    width: 25%;
    color: white;
    list-style: none;
}

.data_assignment li {
    list-style: none;
}

.data_assignment ul {
    display: block;
    padding: 0;
    margin: 0;
    margin-block-start: 1em;
    line-height: 1.2rem;
}

.add_password_btn {
    top: 62%;
    left: 58%;
    position: absolute;
}

/*already logged in css*/
.newpasswordbox{
    position: absolute;
    background-color: #2a2a2a;
    height:56%;
    width: 34%;;
    left: 34%;
    top: 11%;
}

.view_passwords_btn {
    position: absolute;
    left: 57%;
    top: 62%;
}

.login_btn {
    position: absolute;
    top: 58%;
    left: 48%;
}

.need_to_login {
    position: absolute;
    left: 37.7%;
    top: 28%;
    color: white;
    width: 19rem;
    text-align: center;
}

.password_table {
    width: 23rem;
}

td {
    border-bottom: 1px solid #ddd;
    height: 28px;
}

th {
    height: 10px;
}