body{
    background-color: #b2afaf;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    width: fit-content;
}
/* Login Css*/
/*Keycodebox*/
.logbox{
    height: 67%;
    width: 28%;
    background-color: #7B7B7B;
    top: 19%;
    left: 34%;
    position: absolute;
}
.log{
    height: 65%;
    width: 26%;
    background-color: #3D3C3C;
    top: 20%;
    left: 35%;
    position: absolute;
}
/* .loginscreen{
    height:17%;
    width: 18%;
    background-color: white;
    top: 28%;
    left: 39%;
    position: absolute;
} */
/* .login{
    top: 34%;
    left: 46%;
    position: absolute;
} */
.view {
    width: 100%;
    height: 100%;
    width: 100%;
    margin: 0em;
    padding: 0em;
}