{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<div class="newpassword">
  <form method="post">
    {% csrf_token %} {{ form.as_p }} {{ obj.passwords_name }}
    <button type="submit">Submit</button>
  </form>
</div>
<div class="view_passwords_btn">
  <a href="/get_data/"><button>View Passwords</button></a>
</div>
{% else %}
<p class="need_to_login">
  Uh oh, Looks like you need to log in, please continue to the login screen.
</p>
<div class="login_btn">
  <a href="/login"> <button>Login</button></a>
</div>
{% endif %} {% endblock content %}
